ion-content {
    --background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5aFdpD6ejuhAnzkcp6QhVY8-kIfdsHSjM7g&usqp=CAUs) no-repeat center/cover fixed;
}

ion-header {
    background-color: #0077B6;
}

.headimg {
    text-align: center;
    padding: 0;
    margin: 0;
}